In [1]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt
import os
from openml import tasks, runs
from sklearn import neighbors
import math
import openml
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import accuracy_score

In [2]:
openml.config.apikey = '6a1d598d43fc357eb5b7b7afd49ab5f0'

In [3]:
#ORIGINAL DECISION TREE

class Node:
    """
    A class to represent a node in a decision tree.
    """
    def __init__(self, feature=None, value=None, left=None, right=None, outcome=None):
        self.feature = feature
        self.value = value
        self.left = left
        self.right = right
        self.outcome = outcome

class DecisionTree:
    """
    A class to represent a decision tree.
    """
    def __init__(self, max_depth=float("inf"), min_samples_split=2, min_impurity=1e-7):
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.min_impurity = min_impurity
        self.root = None

    def fit(self, X, y):
        data = pd.concat([X, y], axis=1)
        self.root = self._build_tree(data)

    def predict(self, X):
        return X.apply(lambda row: self._predict_row(row), axis=1)

    def _build_tree(self, data, depth=0):
        """
        Recursive function that builds the decision tree.
        """
        # Check if we have reached the maximum depth
        if depth == self.max_depth:
            return Node(outcome=self._most_common_outcome(data))

        # Check if we have reached a leaf node
        if len(data) < self.min_samples_split:
            return Node(outcome=self._most_common_outcome(data))

        # Check if the data is pure (all labels are the same)
        if self._entropy(data) < self.min_impurity:
            return Node(outcome=self._most_common_outcome(data))

        # Select the best feature to split the data
        best_feature, best_value = self._best_feature_to_split(data)

        # Split the data based on the best feature and value
        left_data, right_data = self._split_data(data, best_feature, best_value)

        # Recursively build the left and right subtrees
        left_subtree = self._build_tree(left_data, depth+1)
        right_subtree = self._build_tree(right_data, depth+1)

        # Create a new node to represent the best feature and value
        return Node(feature=best_feature, value=best_value, left=left_subtree, right=right_subtree)

    def _predict_row(self, row):
        """
        Recursive function that predicts the label of a single row.
        """
        node = self.root
        while node.outcome is None:
            if row[node.feature] == node.value:
                node = node.left
            else:
                node = node.right
        return node.outcome

    def _entropy(self, data):
        """
        Calculate the entropy of a set of data.
        """
        num_samples = len(data)
        value_counts = data.iloc[:, -1].value_counts()
        probabilities = value_counts / num_samples
        entropy = -np.sum(probabilities * np.log2(probabilities))
        return entropy

    def _best_feature_to_split(self, data):
        """
        Select the best feature to split the data based on information gain.
        """
        best_gain = -1
        best_feature = None
        best_value = None
        entropy = self._entropy(data)

        for feature in data.columns[:-1]:
            print("feature")
            
            values = data[feature].unique()

            for value in values:
                left_data, right_data = self._split_data(data, feature, value)

                if len(left_data) == 0:
                    continue
                if len(right_data) == 0:
                    continue

                gain = self._information_gain(data, left_data, right_data, entropy)

                if gain > best_gain:
                    best_gain = gain
                    best_feature = feature
                    best_value = value

        return best_feature, best_value

    def _information_gain(self, data, left_data, right_data, entropy):
        """
        Calculate the information gain from splitting the data into two groups.
        """
        p = len(left_data) / len(data)
        gain = entropy - p*self._entropy(left_data) - (1-p)*self._entropy(right_data)
        return gain

    def _split_data(self, data, feature, value):
        """
        Split the data based on a given feature and value.
        """
        left_data = data[data[feature] == value].reset_index(drop=True)
        right_data = data[data[feature] != value].reset_index(drop=True)
        return left_data, right_data

    def _most_common_outcome(self, data):
        """
        Return the most common outcome in the data.
        """
        outcome_counts = data.iloc[:, -1].value_counts()
        most_common_outcome = outcome_counts.index[0]
        return most_common_outcome

In [31]:
#OUR DECISION TREE

class Node:
    """
    A class to represent a node in a decision tree.
    """
    def __init__(self, feature=None, value=None, left=None, right=None, outcome=None):
        self.feature = feature
        self.value = value
        self.left = left
        self.right = right
        self.outcome = outcome

class DecisionTree2:
    """
    A class to represent a decision tree.
    """
    def __init__(self, max_depth=float("inf"), min_samples_split=2, min_impurity=1e-7):
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.min_impurity = min_impurity
        self.root = None

    def fit(self, X, y):
        data = pd.concat([X, y], axis=1)
        self.root = self._build_tree(data)

    def predict(self, X):
        return X.apply(lambda row: self._predict_row(row), axis=1)
    
    def _is_pure(self, data):
        """
        Calculate the entropy of a set of data.
        """
        value = data.iloc[:, -1]
        std = value.std()
        return std

    def _build_tree(self, data, depth=0):
        """
        Recursive function that builds the decision tree.
        """
        # Check if we have reached the maximum depth
        if depth == self.max_depth:
            return Node(outcome=self._most_common_outcome(data))

        # Check if we have reached a leaf node
        if len(data) < self.min_samples_split:
            return Node(outcome=self._most_common_outcome(data))

        # Check if the data is pure (all labels are the same)
        if self._is_pure(data) < self.min_impurity:
            return Node(outcome=self._most_common_outcome(data))

        # Select the best feature to split the data
        best_feature, best_value = self._best_feature_to_split(data)

        # Split the data based on the best feature and value
        left_data, right_data = self._split_data(data, best_feature, best_value)

        # Recursively build the left and right subtrees
        left_subtree = self._build_tree(left_data, depth+1)
        right_subtree = self._build_tree(right_data, depth+1)

        # Create a new node to represent the best feature and value
        return Node(feature=best_feature, value=best_value, left=left_subtree, right=right_subtree)

    def _predict_row(self, row):
        """
        Recursive function that predicts the label of a single row.
        """
        node = self.root
        while node.outcome is None:
            if row[node.feature] == node.value:
                node = node.left
            else:
                node = node.right
        return node.outcome

    def _best_feature_to_split(self, data):
        """
        Select the best feature to split the data based on minimizing standard deviation.
        """
        best_std = float("inf")
        best_feature = None
        best_value = None
        #mean = data.iloc[:, -1].mean()

        for feature in data.columns[:-1]:
            print("feature")
            
            values = data[feature].unique()
            for value in values:
                left_data, right_data = self._split_data(data, feature, value)

                if len(left_data) == 0 or len(right_data) == 0:
                    continue

                std = self._std_deviation(left_data, right_data)

                if std < best_std:
                    best_std = std
                    best_feature = feature
                    best_value = value

        return best_feature, best_value

    def _std_deviation(self, left_data, right_data):
        left_std = np.std(left_data.iloc[:, -1])
        right_std = np.std(right_data.iloc[:, -1])
        left_weight = len(left_data) / (len(left_data) + len(right_data))
        right_weight = len(right_data) / (len(left_data) + len(right_data))
        std = left_weight * left_std + right_weight * right_std
        return std


    def _split_data(self, data, feature, value):
        """
        Split the data based on a given feature and value.
        """
        left_data = data[data[feature] == value].reset_index(drop=True)
        right_data = data[data[feature] != value].reset_index(drop=True)
        return left_data, right_data

    def _most_common_outcome(self, data):
        """
        Return the most common outcome in the data.
        """
        outcome_counts = data.iloc[:, -1].value_counts()
        most_common_outcome = outcome_counts.index[0]
        return most_common_outcome

In [32]:
def accuracy(X, y):
    tree1 = DecisionTree(max_depth=5)
    tree2 = DecisionTree2(max_depth=5)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)
    #Original tree
    tree1.fit(X_train, y_train)
    predictions1 = tree1.predict(X_test)  
    
    #Our tree
    tree2.fit(X_train, y_train)
    predictions2 = tree2.predict(X_test)  
    
    print(f"Accuracy original tree: {accuracy_score(y_test, predictions1)}")
    print(f"Accuracy our tree: {accuracy_score(y_test, predictions2)}")

In [33]:
#DATASET 1

task1 = tasks.get_task(9971)
task1

OpenML Classification Task
==========================
Task Type Description: https://www.openml.org/tt/TaskType.SUPERVISED_CLASSIFICATION
Task ID..............: 9971
Task URL.............: https://www.openml.org/t/9971
Estimation Procedure.: crossvalidation
Target Feature.......: Class
# of Classes.........: 2
Cost Matrix..........: Available

In [34]:
dataset1 = task1.get_dataset()
dataset1

OpenML Dataset
==============
Name..........: ilpd
Version.......: 1
Format........: ARFF
Upload Date...: 2015-05-22 22:40:56
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/1590565/ilpd.arff
OpenML URL....: https://www.openml.org/d/1480
# of features.: 11
# of instances: 583

In [35]:
df1, _, _, _ = dataset1.get_data()
df1

     V1      V2    V3   V4     V5    V6     V7   V8   V9   V10 Class
0    65  Female   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90     1
1    62    Male  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1
2    62    Male   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1
3    58    Male   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1
4    72    Male   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1
..   ..     ...   ...  ...    ...   ...    ...  ...  ...   ...   ...
578  60    Male   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37     2
579  40    Male   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10     1
580  52    Male   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00     1
581  31    Male   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00     1
582  38    Male   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50     2

[583 rows x 11 columns]

In [36]:
X = df1.drop("Class", axis="columns")
y = df1["Class"]
y = y.astype("int")
accuracy(X, y)

Accuracy original tree: 0.6857142857142857
Accuracy our tree: 0.7314285714285714

In [39]:
df1

     V1      V2    V3   V4     V5    V6     V7   V8   V9   V10 Class
0    65  Female   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90     1
1    62    Male  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1
2    62    Male   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1
3    58    Male   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1
4    72    Male   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1
..   ..     ...   ...  ...    ...   ...    ...  ...  ...   ...   ...
578  60    Male   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37     2
579  40    Male   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10     1
580  52    Male   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00     1
581  31    Male   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00     1
582  38    Male   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50     2

[583 rows x 11 columns]

In [40]:
left_data = df1[df1["V2"] == "Male"].reset_index(drop=True)
left_data

     V1    V2    V3   V4     V5    V6     V7   V8   V9   V10 Class
0    62  Male  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74     1
1    62  Male   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89     1
2    58  Male   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00     1
3    72  Male   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40     1
4    46  Male   1.8  0.7  208.0  19.0   14.0  7.6  4.4  1.30     1
..   ..   ...   ...  ...    ...   ...    ...  ...  ...   ...   ...
436  60  Male   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37     2
437  40  Male   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10     1
438  52  Male   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00     1
439  31  Male   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00     1
440  38  Male   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50     2

[441 rows x 11 columns]

In [42]:
right_data = df1[df1["V2"] != "Male"].reset_index(drop=True)
right_data

     V1      V2    V3    V4     V5     V6     V7   V8   V9   V10 Class
0    65  Female   0.7   0.1  187.0   16.0   18.0  6.8  3.3  0.90     1
1    26  Female   0.9   0.2  154.0   16.0   12.0  7.0  3.5  1.00     1
2    29  Female   0.9   0.3  202.0   14.0   11.0  6.7  3.6  1.10     1
3    74  Female   1.1   0.4  214.0   22.0   30.0  8.1  4.1  1.00     1
4    40  Female   0.9   0.3  293.0  232.0  245.0  6.8  3.1  0.80     1
..   ..     ...   ...   ...    ...    ...    ...  ...  ...   ...   ...
137  50  Female  27.7  10.8  380.0   39.0  348.0  7.1  2.3  0.40     1
138  40  Female   2.1   1.0  768.0   74.0  141.0  7.8  4.9  1.60     1
139  38  Female   0.6   0.1  165.0   22.0   34.0  5.9  2.9  0.90     2
140  50  Female   1.0   0.3  191.0   22.0   31.0  7.8  4.0  1.00     2
141  20  Female  16.7   8.4  200.0   91.0  101.0  6.9  3.5  1.02     1

[142 rows x 11 columns]

In [20]:
#DATASET 2

task2 = tasks.get_task(3)
task2

OpenML Classification Task
==========================
Task Type Description: https://www.openml.org/tt/TaskType.SUPERVISED_CLASSIFICATION
Task ID..............: 3
Task URL.............: https://www.openml.org/t/3
Estimation Procedure.: crossvalidation
Target Feature.......: class
# of Classes.........: 2
Cost Matrix..........: Available

In [21]:
dataset2 = task2.get_dataset()
dataset2

OpenML Dataset
==============
Name..........: kr-vs-kp
Version.......: 1
Format........: ARFF
Upload Date...: 2014-04-06 23:19:28
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/3/kr-vs-kp.arff
OpenML URL....: https://www.openml.org/d/3
# of features.: 37
# of instances: 3196

In [22]:
df2, _, _, _ = dataset2.get_data()
df2

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3192,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3193,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,nowin
3194,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,nowin
3195,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,nowin

In [23]:
df2["class"] = df2["class"].replace(["nowin", "won"], [0, 1])
df2

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,1
1,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,1
2,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,1
3,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,1
4,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,0
3192,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,0
3193,t,f,f,f,f,f,t,f,f,f,...,f,t,f,f,t,f,t,f,n,0
3194,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,0
3195,t,f,t,f,f,f,t,f,f,f,...,f,t,f,f,t,f,f,f,n,0

In [24]:
X = df2.drop("class", axis="columns")
y = df2["class"]
y = y.astype("int")
accuracy(X, y)

Accuracy original tree: 0.948905109489051
Accuracy our tree: 0.9520333680917622

In [25]:
#DATASET 3

task3 = tasks.get_task(29)
task3

OpenML Classification Task
==========================
Task Type Description: https://www.openml.org/tt/TaskType.SUPERVISED_CLASSIFICATION
Task ID..............: 29
Task URL.............: https://www.openml.org/t/29
Estimation Procedure.: crossvalidation
Target Feature.......: class
# of Classes.........: 2
Cost Matrix..........: Available

In [26]:
dataset3 = task3.get_dataset()
dataset3

OpenML Dataset
==============
Name..........: credit-approval
Version.......: 1
Format........: ARFF
Upload Date...: 2014-04-06 23:21:38
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/29/credit-approval.arff
OpenML URL....: https://www.openml.org/d/29
# of features.: 16
# of instances: 690

In [27]:
df3, _, _, _ = dataset3.get_data()
df3

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,class
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1.0,f,g,202.0,0.0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6.0,f,g,43.0,560.0,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0.0,f,g,280.0,824.0,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5.0,t,g,100.0,3.0,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0.0,f,s,120.0,0.0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0.0,f,g,260.0,0.0,-
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2.0,t,g,200.0,394.0,-
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1.0,t,g,200.0,1.0,-
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0.0,f,g,280.0,750.0,-
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0.0,t,g,0.0,0.0,-

In [28]:
df3["class"] = df3["class"].replace(["-", "+"], [0, 1])
df3

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,class
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1.0,f,g,202.0,0.0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6.0,f,g,43.0,560.0,1
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0.0,f,g,280.0,824.0,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5.0,t,g,100.0,3.0,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0.0,f,s,120.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0.0,f,g,260.0,0.0,0
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2.0,t,g,200.0,394.0,0
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1.0,t,g,200.0,1.0,0
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0.0,f,g,280.0,750.0,0
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0.0,t,g,0.0,0.0,0

In [29]:
X = df3.drop("class", axis="columns")
y = df3["class"]
y = y.astype("int")
accuracy(X, y)

Accuracy original tree: 0.8454106280193237
Accuracy our tree: 0.8792270531400966

In [14]:
#DATASET 4

task4 = tasks.get_task(9960)
task4

OpenML Classification Task
==========================
Task Type Description: https://www.openml.org/tt/TaskType.SUPERVISED_CLASSIFICATION
Task ID..............: 9960
Task URL.............: https://www.openml.org/t/9960
Estimation Procedure.: crossvalidation
Target Feature.......: Class
# of Classes.........: 4
Cost Matrix..........: Available

In [15]:
dataset4 = task4.get_dataset()
dataset4

OpenML Dataset
==============
Name..........: wall-robot-navigation
Version.......: 1
Format........: ARFF
Upload Date...: 2015-05-25 21:50:28
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/1592289/wall-robot-navigation.arff
OpenML URL....: https://www.openml.org/d/1497
# of features.: 25
# of instances: 5456

In [16]:
df4, _, _, _ = dataset4.get_data()
df4

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V16,V17,V18,V19,V20,V21,V22,V23,V24,Class
0,0.438,0.498,3.625,3.645,5.000,2.918,5.000,2.351,2.332,2.643,...,0.593,0.502,0.493,0.504,0.445,0.431,0.444,0.440,0.429,4
1,0.438,0.498,3.625,3.648,5.000,2.918,5.000,2.637,2.332,2.649,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.443,0.429,4
2,0.438,0.498,3.625,3.629,5.000,2.918,5.000,2.637,2.334,2.643,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.446,0.429,4
3,0.437,0.501,3.625,3.626,5.000,2.918,5.000,2.353,2.334,2.642,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.444,0.429,4
4,0.438,0.498,3.626,3.629,5.000,2.918,5.000,2.640,2.334,2.639,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.441,0.429,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5451,0.910,5.000,3.997,2.785,2.770,2.572,2.433,1.087,1.772,1.040,...,0.660,0.648,0.657,0.686,5.000,1.045,5.000,5.000,1.562,1
5452,0.926,5.000,4.015,2.792,2.777,2.571,1.768,1.071,1.762,1.021,...,0.652,0.640,0.649,1.593,1.616,1.058,5.000,5.000,1.085,2
5453,0.937,5.000,4.034,2.799,2.784,2.571,1.754,1.053,1.752,1.002,...,0.648,0.633,0.642,0.741,5.000,1.065,5.000,5.000,1.105,2
5454,0.945,4.052,4.052,2.809,2.791,2.441,1.757,1.034,1.743,0.983,...,0.641,0.626,0.635,0.754,5.000,1.076,5.000,5.000,1.118,1
5455,0.950,4.066,5.000,2.819,2.798,2.570,2.422,1.016,1.739,0.964,...,0.635,0.618,0.628,0.776,5.000,1.083,5.000,5.000,1.168,2

In [18]:
X = df4.drop("Class", axis="columns")
y = df4["Class"]
y = y.astype("int")
accuracy(X, y)

KeyboardInterrupt: